body {
  background-color: BurlyWood;
}
h1 {
  font-size: 25px;
  color: #800020;
  text-align: center;
  text-decoration: underline;
}
main {
  margin: auto;
  text-align: center;
}
div {
    margin: auto;
    border: 3px solid #800020;
    /*border-radius: 5%;*/
    padding: 5px;
    height: auto;
    width: auto;
    display: inline-block;
}
p {
  margin: -2px auto;
  font-size: 18px;
}
p:first-of-type {
  font-weight: bold;
  text-decoration: underline;
}
img {
  height: 400px;
  width: 300px;
  padding-right: 2px;
  padding-left: 2px;
}
